
html {
    background: #e3e3e3
}

body {
    font-family: Arial, Helvetica, sans-serif; 
    margin: 20px;
    padding: 20px;
    color: #242424;
    border-top: 10px solid #242424;
    background: #f8e7f8;
}

h1 {
    font-size: 3em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style:oblique;
    margin: 5px;
}

p {
    line-height: 1.4em;
    max-width: 700px;
}

#blog {
    border-top: 1px dotted #242424;
}

.blog-post {
    padding-left: 20px;
    border-bottom: 2px solid #242424;
    border-left: 2px solid #242424;
}
label {
    margin-left: 5px;
}
input {
    margin-left: 10px;
    padding: 2px;
}
input[type = "email"] {
    color:blue;
}
textarea {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid #242424;
    display: block;
    text-align: center;
    
    
}

img {
    border: 10px dotted #f00e0e;
    padding: 5px;
    max-width: 400px;
    max-height: 600px;
}
strong {
    display: block;
    padding: 4px;
    margin-bottom: 5px;
}
button {
    padding: 10px;
    font-weight: bolder;
}
ul {
    line-height: 25px;
}
.nav {
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 15px;
    background-color: rgb(224, 181, 215);
    
    position: sticky;
    float: right;
    top: 0;
}
.flex {
    background: rgb(224, 181, 215);
    display: flex;
}
.flex2 {
    display: flex;
    padding: 10px;
    background-color: rgb(224, 181, 215);
}
.shows {
   flex: 1; 
   margin: 5px;
   padding: 4px;
   border: 2px solid #242424;
}
.movies {
    flex: 2;
    margin: 5px;
    padding: 4px;
    border: 2px solid #242424;

}
.games {
    flex: 1;
    margin: 5px;
    padding: 4px;
    border: 2px solid #242424;

}

@media (max-width: 400px) {
    body {
        background: #97d6e5;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}













